[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mxnet-mkl = "*"
jupyter = "*"
networkx = "*"
pandas = "*"
numpy = "*"
scikit-learn = "*"
ipykernel = "*"

[dev-packages]

[requires]
python_version = "3.6"
